@{
  Layout = "_Layout";
}
<h1>New vendor information:</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text" required>
  <br>
  <label for="vendorDescription">Vendor Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text" required>
  <br>
  <button type="submit" class="btn btn-dark">Add</button>
</form>

<div class="links">
  <h4><a href="/vendors">Return to vendors.</a></h4>
  <h4><a href="/">Return to homepage</a></h4>
</div>