<h1>New vendor information:</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text" required>
  <label for="vendorDescription">Vendor Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text" required>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to homepage</a></p>
<p><a href="/vendors">Back to vendors.</a></p>