<h1>Add a new Order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Order Title:</label>
  <input id="orderTitle" name="orderTitle" type="text" maxlength="16" required>
  <label for="orderDescription">Order Description:</label>
  <input id="orderDescription" name="orderDescription" maxlength="30" type="text" required>
  <label for="orderPrice">Order Price:</label>
  <input id="orderPrice" name="orderPrice" type="number" min="0" required>
  <button type='submit'>Add order</button>
  <input id="orderDate" name="orderDate" type="text" maxlength="14" required>
</form>